body{
    margin: 0px;
    padding: 0px;
    background: #f4f4f4;
}
h1{
    text-align: center;
}
ul{
    list-style-type:none ;
    background-color: #5e5e5e;
    padding: 0px;
    margin: 0px;    
    overflow: hidden;
}
li a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}
li a:hover{
    background-color: #5e5e5e(0, 0%, 10%);
}
li{
    float: left;
}
p{
    text-align: center;
}
table{
    margin-right: 20px;
}
tr th{
    background: #5e5e5e;
    color: white;
    
}